body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px; 
  background-color: #1454d4;
}

.reservation-form-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
    height: auto;
	width: 80%;
}

.rental-form-container {
	width: 80%;
}

.insurance-option {
	display: flex;
	align-items: center;
	gap: 14px;
	border: 2px solid #e0e0e0;
	border-radius: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
	cursor: pointer;
	transition: border-color 0.2s, background-color 0.2s;
	width: 100%;
}

.insurance-option:hover {
    background-color: #3d7eff;
}

.insurance-option input[type="checkbox"] {
	appearance: none;
	width: 24px;
	height: 24px;
	border: 2px solid #ccc;
	border-radius: 6px;
	display: inline-block;
	position: relative;
	margin-top: 4px;
    margin-left: 18px;
	cursor: pointer;
	transition: all 0.2s;
}

.insurance-option input[type="checkbox"]:checked {
    border-color: #2226f3;
    background-color: #2226f3;
}

.insurance-option input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.insurance-content {
    display: flex;
    flex-direction: column;
}

.insurance-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.insurance-description {
    font-size: 14px;
    color: lightgray;
    line-height: 1.4;
}