<!DOCTYPE html>
<html>
  <head>
    <title>Bolt Drive - Reservation Successful</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/_navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reservation_success.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/site_logo.png') }}">
  </head>

  <body class="blue_body">
    <!-- Navbar -->
    {% from "components/_navbar.html" import navbar %}
    {{ navbar() }}

    <!-- Reservation Success Message -->
    <div class="page_container">
      <h1>Reservation Successful</h1>

      <p>Reservation for the vehicle: {{ vehicle.manufacturer }} {{ vehicle.model }} with licence {{ vehicle.license_plate }}. Reservation amount: {{ reservation.total_amount }}€</p>
      <p>Reservation dates: {{ reservation.pickup_date.strftime("%m/%d/%Y, %H:%M:%S") }} - {{ reservation.return_date.strftime("%m/%d/%Y, %H:%M:%S") }}</p>
      
      <!-- Show insurance detailes -->
      {% if insurance_policy %}
        <p style="margin-top: 40px; font-weight: bold;">Insurance detailes:</p>
        <p>Provider: {{ insurance_policy.provider }}</p>
        <p>Insurnace Amount: {{ insurance_policy.payment_amount }}€</p>
        <p>Policy Number: {{ insurance_policy.policy_number }}</p>
      {% endif %}

        
      <p style="margin-top: 40px; font-weight: bold;">Total Payment:
        {{ reservation.total_amount + (insurance_policy.payment_amount if insurance_policy else 0) }}€
      </p>

    </div>
  </body>
</html>