{% macro navbar() %}
<!-- Navbar spacer -->
<div class="navbar-spacer"></div>

<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">

        <!-- Logo -->
        <div class="navbar-logo">
            <img src="{{ url_for('static', filename='resources/site_logo.png') }}">
            Bolt Drive
        </div>

        <!-- Navigation -->
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/fleet">Fleet</a>
            <a href="/reservations/list">My reservations</a>
        </div>

        <!-- User ctrl buttons -->
        <div style="display: flex; gap: 10px;">
            {% if not session.get('user_id') %}
            <a class="primary_button" style="color: white" href="/login">Login</a>
            <a class="primary_button" style="color: white" href="/register">Register</a>
            {% endif %}

            {% if session.get('user_id') %}
            <a class="primary_button" style="color: white" href="/profile">Profile</a>
            <a class="danger_button" style="color: white" href="/logout">Logout</a>
            {% endif %}
        </div>

    </div>
</nav>
{% endmacro %}
